{% extends 'website/navbar2.html' %}

{% block body %}

<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end mt-5">
                <br>
                <br class="mb-5">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3 class="text-white font-weight-bold">Jeremy Kuehn | Campaign Blog</h3>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline mb-5">
                <p class="text-white-75">Conservative Vision. Helping Others Succeed.</p>
            </div>
        </div>
    </div>
</header>

<main class="container mt-5">
    <div class="row">
        {% for entry in blog_entries %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if entry.photo %}
                        <img src="{{ entry.photo.url }}" class="card-img-top" alt="{{ entry.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ entry.title }}</h5>
                        <p class="card-text">{{ entry.text|truncatewords:20 }}</p>
                        <a href="{% url 'website:blogEntry' postID=entry.id %}" class="btn btn-dark btn-l">Read More</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{ entry.dateMade|date:"F d, Y" }} by {{ entry.author }}
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No blog entries found.</p>
        {% endfor %}
    </div>
</main>


{% endblock %}